* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
.container-info {
  margin: 30px 0;
}
.container-info h1 {
  font-size: 5rem;
  font-weight: 400;
  color: #ff5126;
}

hr {
  width: 100px;
  margin: 10px 0;
  color: #ff5126;
}
.container {
  width: 80%;
  margin: 10px auto;
}

.container-images-todo {
  width: 100%;
  height: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*border: 1px solid black;*/
}

.container-images {
  width: calc(100% / 3);
  /*border: 1px solid red;*/
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.first img {
  width: 95%;
  height: 585px;
  cursor: pointer;
}

.second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.second img {
  width: 95%;
  height: 380px;
  cursor: pointer;
}

footer {
  background: #333333;
  height: 70px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer h1 {
  font-size: 22px;
  font-weight: 390;
}

@media (max-width: 400px) {
  .container {
    width: 100vw;
    margin: 10px 0;
  }
  .container-images-todo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .container-images {
    width: 100%;
  }

  footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
